@model StateOfUrgentAddViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Add</h1>

<form class="w-50 mx-auto" method="post">
    <div class="mb-5">
        <label asp-for="Type" class="form-label col-form-label-lg"></label>
        <span asp-validation-for="Type" class="text-danger"></span>
        <input asp-for="Type" type="text" class="form-control form-control-lg"/>
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
</form>
