@model List<StateOfUrgentListViewModel>
@{
    ViewBag.Title = "Index";
}
<h1>State of urgent</h1>
@if (Model.Count == 0)
{
    <div class="p-3 text-center mt-3">
        <p class="lead">No Item to show</p>
        <a asp-action="Add" asp-controller="StateOfUrgent" class="btn btn-outline-primary">Create <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    </div>
}
else
{        <a asp-action="Add" asp-controller="StateOfUrgent" class="btn btn-outline-primary">Create <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    <table class="table table-sm table-hover w-50 mx-auto">
        <thead>
            <tr>
                <th>Type</th>
                <th>Do!</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Type</td>
                    <td>
                        <a asp-controller="StateOfUrgent" asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}