@model AppUserListDto
@{
    ViewBag.Title = "Index";
}
<h1>Profile index</h1>
@if (TempData["m"] != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@TempData["m"]</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form asp-action="Index" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">
    <input type="hidden" value="@Model.Id" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <span asp-validation-for="Surname" class="text-danger"></span>
        <input asp-for="Surname" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <span asp-validation-for="UserName" class="text-danger"></span>
        <input asp-for="UserName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 offset-2">
                <h5 class="text-center">Your image :</h5>
                <img src="~/img/@Model.Picture" class="w-100" alt="@Model.Name"/>
            </div>
            <div class="col-md-4 offset-2">
                <div id="areaImg" style="display: none">
                    <h5 class="text-center">The image you choose :</h5>
                    <img src="" id="imgPreview" class="w-100" alt="selected image"/>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label">Select image :</label>
                <input type="file" name="image" class="form-control-file" id="selectedImage"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-primary" type="submit">Save <i class="fas fa-save"></i></button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#selectedImage").change(function(e) {
               let url= URL.createObjectURL(e.target.files[0]);
                $("#areaImg").show();
               $("#imgPreview").attr("src", url);
            });
        })
    </script>
}