<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/template-css/simple-sidebar.css" rel="stylesheet">
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        @await  Component.InvokeAsync("Wrapper")
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-light" id="menu-toggle"><i id="toggleIcon" class="fa fa-toggle-on" aria-hidden="true"></i> Menu</button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item mr-3">
                            <form id="logoutForm" class="form-inline" method="post"
                                  asp-area=""
                                  asp-action="Logout"
                                  asp-controller="Home">
                                <button id="logout" type="submit" class="nav-link btn btn-outline-primary"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
                            </form>
                        </li>

                    </ul>
                </div>

            </nav>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/font-awesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts",false)
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          //$("#toggleIcon").removeClass("fa-toggle-off").addClass("fa-toggle-on");
          $("#wrapper").toggleClass("toggled");
        });
 
    </script>

</body>

</html>
