
@{
    ViewData["Title"] = "Error Code";
}

<div class="container mt-5">
    <h1 class="text-danger lead">Error!</h1>
    <h2 class="text-danger lead">@ViewBag.Code</h2>
    <p class="p-2">@ViewBag.Message</p>
</div>