@model UserRegisterViewModel
@{
    ViewData["Title"] = "Register Page";
}

<div class="container">
    <div class="row">
        <form method="post" class="w-50" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Name" name="Name" type="text" class="form-control"/>
            <span asp-validation-for="Name"  class="text-danger"></span>
            <input asp-for="Email" name="Email" type="text" class="form-control"/>
            <span asp-validation-for="Email"  class="text-danger"></span>
            <br/>
            <input type="submit" value="Create" class="btn btn-dark text-white"/>
        </form>
    </div>
</div>



@*Field validation for client-side*@
<script src="jquery/jquery.min.js"></script>
<script src="jquery-validate/jquery.validate.min.js"></script>
<script src="jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>