
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

    <h1>Index</h1>
     <hr/>

    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">Admin Sayfasina Git</a>

    <a asp-area="Member" class="btn btn-outline-primary">Member Sayfasina Git</a>

